body {
    background: #FFF7D4;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #3081D0;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: #8ACDD7;
}

#mainNavbar .nav-link:hover {
    color: #8ACDD7;
}

#mainNavbar .navbar-brand {
    color: #8ACDD7;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #FFF7D4;
}

#headingGroup h1 {
    color : #8ACDD7;
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: #F4F27E;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




